<header class="py-8 px-24 flex justify-between bg-white">
  <img src="/assets/images/logo-colored.svg" alt="Logo" class="logo" />
  <div class="flex">
    <input
      type="text"
      class="block rounded-md border-0 py-1 pl-3 pr-20 text-gray-900 ring-1 ring-gray-300 placeholder:text-gray-400 focus:ring-dark"
      placeholder="Search"
    />
    <button class="bg-blue text-white p-1 rounded-md">Search</button>
  </div>
  <div class="text-xs flex">
    <button class="icon-btn">
      <ng-icon name="matPerson" style="--ng-icon__size: 2em" />
      Profile
    </button>
    <button class="icon-btn">
      <ng-icon name="faSolidHeart" style="--ng-icon__size: 2em" />
      Favorites
    </button>
    <button class="icon-btn">
      <ng-icon name="matShoppingCart" style="--ng-icon__size: 2em" />
      Cart
    </button>
  </div>
</header>
