<header class="py-8 px-24 flex justify-between bg-white">
  <a routerLink="" class="block w-fit">
    <img src="/assets/images/logo-colored.svg" alt="Logo" />
  </a>
  <div class="flex">
    <input
      type="text"
      class="block rounded-md border-0 py-1 pl-3 pr-20 text-gray-900 ring-1 ring-gray-300 placeholder:text-gray-400 focus:ring-dark"
      placeholder="Search"
    />
    <button class="bg-blue text-white p-1 rounded-md hover:bg-blueHover">
      Search
    </button>
  </div>
  <div class="text-xs flex">
    <a href="#" class="icon-btn hover:text-darkHover cursor-pointer">
      <ng-icon name="matPerson" style="--ng-icon__size: 2em" />
      Profile
    </a>
    <a href="#" class="icon-btn hover:text-darkHover cursor-pointer">
      <ng-icon name="faSolidHeart" style="--ng-icon__size: 2em" />
      Favorites
    </a>
    <a href="#" class="icon-btn hover:text-darkHover cursor-pointer">
      <ng-icon name="matShoppingCart" style="--ng-icon__size: 2em" />
      Cart
    </a>
  </div>
</header>
