<section>
  <img
    [src]="product.image"
    class="max-h-44 max-w-img"
    [alt]="product.title + 'image'"
  />
  <div>
    <h4>{{ product.title }}</h4>
    <div>
      <p>Price:</p>
      <p>{{ product.price }}</p>
    </div>
    <hr />
    <div>
      <p>Type:</p>
      <p>{{ product.category }}</p>
    </div>
    <hr />
    <div>
      <p>Protection:</p>
      <p>Refund policy</p>
    </div>
    <div>
      <p>Warranty</p>
      <p>2 years full warranty</p>
    </div>
    <hr />
    <div>
      <button>Add to cart</button>
      <button>Save for later</button>
    </div>
  </div>
</section>
<section>
  <p>{{ product.description }}</p>
</section>
