<footer class="absolute bottom-0 w-full">
  <section class="bg-white border-b border-b-gray-300 px-24 py-10">
    <img src="/assets/images/logo-colored.svg" alt="Logo" class="logo mb-4" />
    <p class="text-base">
      Best information about the company lies here but now lorem ipsum is
    </p>
    <div class="socials flex gap-4 mt-4">
      <a href="https://www.facebook.com/">
        <ng-icon name="faBrandFacebook" style="--ng-icon__size: 1.5em" />
      </a>
      <a href="https://twitter.com/">
        <ng-icon name="faBrandTwitter" style="--ng-icon__size: 1.5em" />
      </a>
      <a href="https://www.linkedin.com/">
        <ng-icon name="faBrandLinkedin" style="--ng-icon__size: 1.5em" />
      </a>
      <a href="https://www.instagram.com/">
        <ng-icon name="faBrandInstagram" style="--ng-icon__size: 1.5em" />
      </a>
      <a href="https://www.youtube.com/">
        <ng-icon name="faBrandYoutube" style="--ng-icon__size: 1.5em" />
      </a>
    </div>
  </section>
  <section class="px-24 py-4">&copy; 2023, Ecommerce</section>
</footer>
